Repository bperraud/ulb-link: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:nginx, build:permalink

.gitlab-ci.yml:

variables:
  HELM_RELEASE_NAME: permalink
  HELM_NAMESPACE: pt-permalink

stages:
  - build
  - deploy

.image-build-template: &image-build
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - eval docker build $IMGARGS --pull -t "$CI_REGISTRY_IMAGE/$IMGNAME:$CI_COMMIT_REF_SLUG" app/$IMGNAME
    - docker push "$CI_REGISTRY_IMAGE/$IMGNAME:$CI_COMMIT_REF_SLUG"
  rules:
    - if: $CI_PIPELINE_SOURCE != 'merge_request_event'
      changes:
        - .gitlab-ci.yml
        - app/$IMGNAME/**/*

build:nginx:
  <<: *image-build
  variables:
    IMGNAME: nginx
  rules:
    - if: $CI_PIPELINE_SOURCE != 'merge_request_event'
      changes:
        - .gitlab-ci.yml
        - app/nginx/**/*

build:permalink:
  <<: *image-build
  variables:
    IMGNAME: permalink
  rules:
    - if: $CI_PIPELINE_SOURCE != 'merge_request_event'
      changes:
        - .gitlab-ci.yml
        - app/permalink/**/*

deploy:
  stage: deploy
  image: $CI_REGISTRY/pole-techno/docker-images/okd-cicd-client:latest
  script:
    - oc config use-context pole-techno/okd-agents:okd-$CI_COMMIT_REF_SLUG
    - oc whoami
    - oc project $HELM_NAMESPACE
    - cd helm
    - helm dependency update
    - helm upgrade --install -f values-$CI_COMMIT_REF_SLUG.yaml $HELM_RELEASE_NAME .
    - oc rollout restart deployment django-permalink
  only:
    refs:
      - dev
      - prd

gitlab-ci: rm extra space
  .gitlab-ci.yml
Due: build:nginx, build:permalink

update values-prd
  helm/values-prd.yaml
Due: none

add django SECRET
  helm/templates/config-map.yaml
  helm/templates/permalink-web-secret.yaml
Due: none

django-tailwind-cli package
  app/permalink/.django_tailwind_cli/source.css
  app/permalink/Dockerfile
  app/permalink/entrypoint.sh
  app/permalink/link/decorators.py
  app/permalink/link/templates/base.html
  app/permalink/link/templates/sidebar.html
  app/permalink/permalink/settings.py
  app/permalink/requirements.txt
  app/permalink/static/css/tailwind.css
  app/permalink/theme/__init__.py
  app/permalink/theme/__pycache__/__init__.cpython-312.pyc
  app/permalink/theme/apps.py
  app/permalink/theme/static/css/dist/styles.css
  app/permalink/theme/static_src/src/styles.css
Due: build:permalink

mycloud sidebar
  app/permalink/link/templates/base.html
Due: build:permalink

main content margin adjustement
  app/permalink/link/templates/base.html
  app/permalink/link/templates/scripts/datatable.js.html
  app/permalink/link/templates/sidebar.html
  app/permalink/link/templates/temp.html
Due: build:permalink

number of links to delete in modal message
  app/permalink/link/templates/link_bar/edit_multiple_link.html
Due: build:permalink

rm tailwind install cmd
  app/permalink/entrypoint.sh
Due: build:permalink

rm values.yaml
  helm/values-dev.yaml
  helm/values-prd.yaml
  helm/values.yaml
Due: none

nginx image in values
  .gitlab-ci.yml
  helm/templates/nginx-deployment.yaml
  helm/values-dev.yaml
  helm/values-prd.yaml
Due: build:nginx, build:permalink

NGINX PORT env var
  app/docker-compose.yaml
  app/nginx/nginx.conf.template
  helm/templates/nginx-deployment.yaml
Due: build:nginx

NGINX PORT env var string
  helm/templates/nginx-deployment.yaml
Due: none

gitlab-ci: add SECRET_KEY
  .gitlab-ci.yml
Due: build:nginx, build:permalink

gitlab-ci: oidc values
  .gitlab-ci.yml
Due: build:nginx, build:permalink

TRUSTED_ORIGINS
  helm/values-prd.yaml
Due: none

keep side bar always present
  app/permalink/link/templates/base.html
Due: build:permalink

showAlert better colors
  app/permalink/link/templates/alert.html
  app/permalink/link/templates/link_row.html
  app/permalink/link/templates/mycloud/mycloud_link_row.html
  app/permalink/link/templates/scripts/datatable.js.html
Due: build:permalink

showAlert after link creation
  app/permalink/link/templates/scripts/datatable.js.html
  app/permalink/link/views/views.py
Due: build:permalink

showAlert with flashMessage hx-trigger
  app/permalink/link/templates/scripts/datatable.js.html
  app/permalink/link/views/views.py
Due: build:permalink

upgrade cmd
  README.md
Due: none

.
  app/permalink/link/templates/base.html
Due: build:permalink

fix secret id name
  README.md
  helm/templates/permalink-web-secret.yaml
Due: none

mv create button down
  app/permalink/link/templates/base.html
  app/permalink/link/templates/link_table.html
Due: build:permalink

print request url
  app/permalink/link/apps.py
Due: build:permalink

login required
  app/permalink/link/auth.py
  app/permalink/link/views/nextcloud_views.py
  app/permalink/link/views/views.py
  app/permalink/permalink/settings.py
Due: build:permalink

createsuper user cmd with env variables
  app/permalink/entrypoint.sh
  helm/templates/permalink-web-secret.yaml
  helm/values-dev.yaml
  helm/values-prd.yaml
  helm/values-secret-template.yaml
Due: build:permalink

DJANGO_SUPERUSER_EMAIL
  .gitlab-ci.yml
  app/permalink/permalink/settings.py
  helm/templates/permalink-web-secret.yaml
Due: build:nginx, build:permalink

fix entrypoint.sh
  app/permalink/entrypoint.sh
  app/permalink/link/apps.py
  helm/values-dev.yaml
Due: build:permalink

remove OIDC_SECRET_ID
  .gitlab-ci.yml
  helm/templates/permalink-web-secret.yaml
Due: build:nginx, build:permalink

nginx: allow nextcloud in iframe
  app/nginx/nginx.conf.template
Due: build:nginx

nginx: allow nextcloud in iframe
  helm/templates/nginx-deployment.yaml
Due: none

nginx: allow nextcloud in iframe CSP
  app/nginx/nginx.conf.template
Due: build:nginx

nginx: rm CSP header
  app/nginx/nginx.conf.template
Due: build:nginx

rm login_required for htmx views
  app/docker-compose.yaml
  app/env_configs/env_dev.env
  app/permalink/link/views/views.py
  app/permalink/requirements.txt
Due: build:permalink
