Repository bperraud/ulb-link: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:nginx, build:permalink

.gitlab-ci.yml:

variables:
  HELM_RELEASE_NAME: permalink
  HELM_NAMESPACE: pt-permalink

stages:
  - build
  - deploy

# .image-build-template: &image-build
#   stage: build
#   image: docker:20.10.16
#   services:
#     - docker:20.10.16-dind
#   before_script:
#     - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
#   script:
#     - docker build -t "$CI_REGISTRY_IMAGE/django-permalink:$CI_COMMIT_REF_SLUG"
#     - docker push "$CI_REGISTRY_IMAGE/django-permalink:$CI_COMMIT_REF_SLUG"
#   rules:
#     - if: $CI_PIPELINE_SOURCE != 'merge_request_event'
#       changes:
#         - 

.image-build-template: &image-build
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - eval docker build $IMGARGS --pull -t "$CI_REGISTRY_IMAGE/$IMGNAME:$CI_COMMIT_REF_SLUG" app/$IMGNAME
    - docker push "$CI_REGISTRY_IMAGE/$IMGNAME:$CI_COMMIT_REF_SLUG"
  rules:
    - if: $CI_PIPELINE_SOURCE != 'merge_request_event'
      changes:
        - .gitlab-ci.yml
        - app/$IMGNAME/**/*

build:nginx:
  <<: *image-build
  variables:
    IMGNAME: nginx
  rules:
    - if: $CI_PIPELINE_SOURCE != 'merge_request_event'
      changes:
        - .gitlab-ci.yml
        - app/nginx/**/*

build:permalink:
  <<: *image-build
  variables:
    IMGNAME: permalink
  rules:
    - if: $CI_PIPELINE_SOURCE != 'merge_request_event'
      changes:
        - .gitlab-ci.yml
        - app/permalink/**/*

deploy:
  stage: deploy
  image: $CI_REGISTRY/pole-techno/docker-images/okd-cicd-client:latest
  script:
    - git clone https://gitlab.ulb.be/pole-techno/okd-apps/permalink.git helm
    - cd helm/permalink
    - oc config use-context pole-techno/okd-agents:okd-$CI_COMMIT_REF_SLUG
    - oc project $HELM_NAMESPACE
    - helm dependency update
    - helm upgrade --install -f values-$CI_COMMIT_REF_SLUG.yaml $HELM_RELEASE_NAME .
    - oc rollout restart deployment django-permalink
  only:
    refs:
      - dev
      - stg
      - prd

rm perm static_root
  app/permalink/Dockerfile
Due: build:permalink

rm comment
  .gitlab-ci.yml
Due: build:nginx, build:permalink

use submodule for helm repo
  .gitlab-ci.yml
  .gitmodules
Due: build:nginx, build:permalink

debug oc user
  .gitlab-ci.yml
Due: build:nginx, build:permalink

add git inside the job
  .gitlab-ci.yml
Due: build:nginx, build:permalink

wrong os based
  .gitlab-ci.yml
Due: build:nginx, build:permalink

rm helm as submodule
  .gitlab-ci.yml
  .gitmodules
Due: build:nginx, build:permalink

helm package pull
  .pyrightconfig.json
  helm/README.md
  helm/permalink/.helmignore
  helm/permalink/Chart.yaml
  helm/permalink/templates/_helpers.tpl
  helm/permalink/templates/certificate.yaml
  helm/permalink/templates/config-map.yaml
  helm/permalink/templates/db-config.yaml
  helm/permalink/templates/db-deployment.yaml
  helm/permalink/templates/django-deployment.yaml
  helm/permalink/templates/nginx-deployment.yaml
  helm/permalink/templates/route.yaml
  helm/permalink/values-dev.yaml
  helm/permalink/values-prd.yaml
  helm/permalink/values.yaml
Due: none

rm permalink subfolder
  .gitlab-ci.yml
  helm/Chart.yaml
  helm/README.md
  helm/permalink/.helmignore
  helm/templates/_helpers.tpl
  helm/templates/certificate.yaml
  helm/templates/config-map.yaml
  helm/templates/db-config.yaml
  helm/templates/db-deployment.yaml
  helm/templates/django-deployment.yaml
  helm/templates/nginx-deployment.yaml
  helm/templates/route.yaml
  helm/values-dev.yaml
  helm/values-prd.yaml
  helm/values.yaml
Due: build:nginx, build:permalink

copy to clipboard button with alert
  app/permalink/link/templates/link_row.html
Due: build:permalink

copy to clipboard button with alert
  app/permalink/link/templates/base.html
  app/permalink/link/templates/link_row.html
Due: build:permalink

keep pvc on helm delete
  helm/templates/db-deployment.yaml
  helm/templates/django-deployment.yaml
Due: none

postgres: bitnami legacy repo
  helm/templates/db-deployment.yaml
Due: none

helm: pvc in separate yml
  helm/templates/db-deployment.yaml
  helm/templates/django-deployment.yaml
  helm/templates/pvc.yaml
Due: none

image from helm values
  helm/templates/django-deployment.yaml
  helm/values-dev.yaml
Due: none

unreachable nextcloud instance handling
  app/permalink/link/auth.py
Due: build:permalink

timeout for logout view
  app/permalink/link/templates/logout.html
Due: build:permalink

prd values
  helm/values-prd.yaml
Due: none

update prd values
  helm/values-prd.yaml
Due: none

redirect after logout
  app/permalink/link/context_processors.py
  app/permalink/link/views/account_views.py
Due: build:permalink

rebuild registry
  .gitlab-ci.yml
Due: build:nginx, build:permalink

update registry path
  helm/values-dev.yaml
  helm/values-prd.yaml
Due: none

replace mycloud dev instance with nc-test.ulb.ac.be
  helm/templates/django-deployment.yaml
  helm/values-dev.yaml
Due: none

OIDC_OP_LOGOUT_ENDPOINT env var
  app/env_configs/env_prod.env
  app/permalink/link/auth.py
  helm/templates/config-map.yaml
  helm/values-dev.yaml
  helm/values-prd.yaml
Due: build:permalink

fix get_host()
  app/permalink/link/context_processors.py
  app/permalink/link/models.py
Due: build:permalink

add back host()
  app/permalink/link/context_processors.py
Due: build:permalink

encore redirect url
  app/permalink/link/views/account_views.py
Due: build:permalink

request_user verification in login_success
  app/docker-compose.yaml
  app/env_configs/env_dev.env
  app/permalink/link/auth.py
Due: build:permalink

new dev instance secret/client id
  helm/values-dev.yaml
Due: none

parse_xml: remove offset
  app/permalink/link/views/nextcloud_views.py
Due: build:permalink

revert change
  app/permalink/link/views/nextcloud_views.py
Due: build:permalink

replace bootstrap with tailwind
  app/permalink/link/templates/alert.html
  app/permalink/link/templates/base.html
  app/permalink/link/templates/form_snippet.html
  app/permalink/link/templates/link_bar/edit_single_link.html
  app/permalink/link/templates/link_row.html
  app/permalink/link/templates/link_table.html
  app/permalink/link/templates/modal.html
  app/permalink/link/templates/modal_create.html
  app/permalink/link/templates/modal_edit.html
  app/permalink/link/templates/mycloud/mycloud_link_table.html
  app/permalink/link/views/views.py
Due: build:permalink

simple-datatables
  app/permalink/link/templates/base.html
  app/permalink/link/templates/link_table.html
Due: build:permalink

showAlert with tailwind
  app/permalink/link/templates/alert.html
  app/permalink/link/templates/base.html
  app/permalink/link/templates/link_table.html
Due: build:permalink

tailwind css for forms
  app/permalink/link/forms.py
  app/permalink/link/templates/form_snippet.html
  app/permalink/link/templates/modal_create.html
  app/permalink/link/templates/modal_edit.html
Due: build:permalink

center form submit button
  app/permalink/link/templates/modal_create.html
  app/permalink/link/templates/modal_edit.html
Due: build:permalink
