Repository bperraud/ulb-link: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:nginx, build:permalink

build:nginx:
  stage: build
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - eval docker build $IMGARGS --pull -t "$CI_REGISTRY_IMAGE/$IMGNAME:$CI_COMMIT_REF_SLUG" app/$IMGNAME
  ...

build:permalink:
  stage: build
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - eval docker build $IMGARGS --pull -t "$CI_REGISTRY_IMAGE/$IMGNAME:$CI_COMMIT_REF_SLUG" app/$IMGNAME
  ...

nginx: allow nextcloud in iframe CSP
  app/nginx/nginx.conf.template
Due: build:nginx

fix login_required
  app/permalink/link/views/views.py
Due: build:permalink

force https for callback
  app/docker-compose.yaml
  app/env_configs/env_dev.env
  app/permalink/link/views/account_views.py
Due: build:permalink

force https for callback
  app/permalink/link/views/account_views.py
Due: build:permalink

parse_json instead of xml
  app/permalink/link/views/account_views.py
  app/permalink/link/views/nextcloud_views.py
  tmp.json
Due: build:permalink

SECURE_PROXY_SSL_HEADER
  app/permalink/link/views/nextcloud_views.py
  app/permalink/permalink/settings.py
  tmp.json
Due: build:permalink

USE_X_FORWARDED_HOST
  app/permalink/link/api.py
  app/permalink/link/auth.py
  app/permalink/permalink/settings.py
Due: build:permalink

nginx scheme in env
  app/docker-compose.yaml
  app/nginx/nginx.conf.template
  helm/templates/nginx-deployment.yaml
Due: build:nginx

update nc client and secret dev
  helm/values-dev.yaml
Due: none

debug: absolutify_https
  app/permalink/link/apps.py
  app/permalink/link/views/account_views.py
Due: build:permalink

rm OIDC_FORCE_HTTPS
  app/env_configs/env_dev.env
  app/permalink/link/apps.py
  app/permalink/permalink/settings.py
  helm/templates/config-map.yaml
Due: build:permalink

oidc: rm force_https
  helm/values-dev.yaml
  helm/values-prd.yaml
Due: none

change testadmin to ncadmin
  app/env_configs/env_dev.env
  helm/values-dev.yaml
Due: none

change ncadmin to nc_admin
  app/env_configs/env_dev.env
  helm/values-dev.yaml
Due: none

refactoring secrets
  .gitlab-ci.yml
  helm/templates/backup-job.yaml
  helm/templates/db-config.yaml
  helm/templates/db-deployment.yaml
  helm/templates/db-secret.yaml
  helm/templates/permalink-web-secret.yaml
  helm/values-dev.yaml
  helm/values-prd.yaml
  helm/values-secret-template.yaml
Due: build:nginx, build:permalink

postgres: update secrets in deployment
  helm/templates/db-deployment.yaml
  helm/templates/db-secret.yaml
  helm/templates/django-deployment.yaml
Due: none

increase limits
  helm/templates/db-deployment.yaml
  helm/templates/django-deployment.yaml
  helm/templates/nginx-deployment.yaml
Due: none

b64dec permalink-web-secret
  helm/templates/permalink-web-secret.yaml
Due: none

init postgres backup script
  helm/templates/backup-job.yaml
  helm/templates/pvc.yaml
  helm/templates/scripts-configmap.yaml
Due: none

fix db backup job
  helm/templates/backup-job.yaml
  helm/templates/db-deployment.yaml
  helm/templates/db-secret.yaml
  helm/templates/scripts-configmap.yaml
Due: none

route: acme for prd
  helm/templates/route.yaml
  helm/values-dev.yaml
  helm/values-prd.yaml
Due: none

required=True for target_url
  app/env_configs/env_dev.env
  app/permalink/link/forms.py
Due: build:permalink

fix backup script
  helm/templates/scripts-configmap.yaml
Due: none

gitlab-ci: remove extra endline char
  .gitlab-ci.yml
Due: build:nginx, build:permalink

helm: backup schedule in values
  helm/templates/nginx-deployment.yaml
  helm/values-dev.yaml
  helm/values-prd.yaml
Due: none

helm: backup schedule in values
  helm/templates/backup-job.yaml
Due: none

postgres: fix password
  helm/templates/db-secret.yaml
Due: none

fix copy link
  app/permalink/link/templates/link_row.html
Due: build:permalink

complete postgres image
  helm/templates/backup-job.yaml
Due: none

complete postgres image
  helm/templates/django-deployment.yaml
Due: none

helm values for postgres image
  helm/templates/backup-job.yaml
  helm/templates/db-deployment.yaml
  helm/templates/django-deployment.yaml
  helm/values-dev.yaml
Due: none

helm values for postgres image
  helm/values-prd.yaml
Due: none

postgres: update mountPath
  app/permalink/entrypoint.sh
  helm/templates/db-deployment.yaml
Due: build:permalink

ACME values prd
  helm/values-prd.yaml
Due: none

temp restore pod
  helm/templates/db_restore_pod.yaml
  helm/templates/scripts-configmap.yaml
Due: none

comment restore pod
  helm/templates/db_restore_pod.yaml
Due: none

cronjob: run backup every 5 hours
  helm/values-prd.yaml
Due: none

fix copyToClipboard
  app/docker-compose.yaml
  app/env_configs/env_dev.env
  app/permalink/link/templates/mycloud/mycloud_link_row.html
Due: build:permalink

Path conditions:
  build:nginx: any of: .gitlab-ci.yml, app/nginx/**/*
  build:permalink: any of: .gitlab-ci.yml, app/permalink/**/*
